.dropdown {
  width: 200px;
}

.note-container {
  display: flex;
}

.note {
  width: 7.3%;
  border: 1px #cccccc solid;
}

.chord-container {
  display: flex;
}

.chord {
  width: 7.5%;
  border: 1px #cccccc solid;
}

.line-break {
  width: 200px;
  float: left;
  color: #cccccc;
}
