@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  --header-color: #101010;
  --fret-primary: #51c58f;
  --fret-secondary: #4b866b;
  --fret-scale: #212e4b;
  --fret-root: #30869b;
  --fret-mark: #b0eed9;
  --fret-chord: #922420;
  --selected: #fffb01;
  /* --fret-primary: #fff568;
  --fret-secondary: #fffb2a;
  --fret-scale: #000000;
  --fret-root: #ff9100; */
}

* {
  font-family: Cabin, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/*------------- HEADER STYLES ------------- */

header {
  display: flex;
  background: var(--header-color);
  height: 5rem;
  justify-content: center;
}

.inner-header {
  display: flex;
  width: 95%;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

.inner-header ul {
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.inner-header li {
  margin: 0rem 1rem;
  font-size: 1.2rem;
}

.menu-options li {
  padding: 0 3rem;
}

.inner-header a:hover,
.logo:hover {
  color: rgb(184, 184, 184);
  cursor: pointer;
}

.inner-header li:last-child {
  margin-right: 0rem;
}

.inner-header a {
  color: white;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.logo span {
  font-weight: 600;
}

.mobile-selects {
  display: none;
}

/*------------- MAIN FRETBOARD STYLES ------------- */

.fretboard {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  gap: 0.15rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.fret {
  display: flex;
  width: 100%;
  height: 70px;
  background: var(--fret-primary);
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.fret-string {
  background: var(--fret-secondary);
  color: white;
  font-size: 2.2rem;
}

.fret-mark {
  background: var(--fret-mark);
  color: black;
}

.fret-scale {
  background: var(--fret-scale);
  color: white;
}

.fret-root-note {
  background: var(--fret-root);
  color: white;
}

.fret-selected {
  background: var(--selected);
  color: black;
}

.fret-chord {
  background: var(--fret-chord);
  color: white;
}

.fret-chord-open {
  background: var(--header-color);
  color: white;
}

.mobile-selects {
  display: flex;
  flex-direction: column;
}

.mobile-selects select {
  padding: 0.4rem;
  color: white;
  background: #202020;
  border: none;
  border-bottom: 1px solid var(--header-color);
  cursor: pointer;
}

.mobile-selects select:focus {
  outline: none;
  background: #414141;
}

.mobile-selects select:hover {
  background: #303030;
}

/*------------- NOTE SELECTOR STYLES ------------- */

.note-selector {
  display: grid;
  gap: 0.1rem;
  border-bottom: 0.2rem #101010;
  overflow-y: hidden;
  overflow-x: scroll;
}

.note {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--fret-secondary);
  font-size: 1.5rem;
  outline: 1px solid #ffffff;
}

.note-selected {
  background: var(--selected);
}

/*------------- CHORD SELECTOR STYLES ------------- */

.chord-selector {
  display: grid;
  gap: 0.1rem;
  border-bottom: 0.2rem #101010;
  overflow-y: hidden;
  overflow-x: scroll;
}

.chord {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--fret-secondary);
  font-size: 1.5rem;
  outline: 1px solid #ffffff;
}

/*-------------------------------- TABLET STYLES --------------------------------*/

@media screen and (max-width: 1200px) {
  header {
    height: 4.5rem;
  }

  .inner-header nav {
    display: none;
  }

  .fretboard {
    grid-template-columns: repeat(23, 6%);
    gap: 0.12rem;
  }

  .fret {
    height: 50px;
    font-size: 1.3rem;
  }

  .fret-string {
    font-size: 1.4rem;
  }

  .menu-options li {
    padding: 0 1rem;
  }

  .note {
    font-size: 1.3rem;
  }

  .chord {
    font-size: 1.2rem;
  }
}

/*-------------------------------- MOBILE STYLES --------------------------------*/

@media screen and (max-width: 625px) {
  header {
    height: 4rem;
  }

  .menu-options {
    display: none;
  }

  .fretboard {
    grid-template-columns: repeat(23, 7%);
    gap: 0.1rem;
  }

  .fret {
    height: 30px;
    font-size: 0.7rem;
  }

  .fret-string {
    font-size: 0.9rem;
  }

  .inner-header {
    justify-content: center;
  }

  .mobile-selects select {
    padding: 0.4rem;
  }

  .note-selector {
    outline: 0px;
  }

  .chord {
    font-size: 1rem;
  }
}
